
	
	.redq .the-nav-cart { padding: 20px 0 10px; }
	

	/* ~~~~~~~~~~~~~~~~~~~~
	~~~~SMALL HEADER ~~~~
	~~~~~~~~~~~~~~~~~~~~~*/
	.parallax { position: relative; overflow: hidden; }
	
	/* .parallax .forkit { right: 3%; } */
	
	/*=========================*/
	/* Parallax */
	/*=========================*/
	.parallax-image {
		/* background-position:50% 0;
		background-repeat:no-repeat;
		background-attachment:fixed; */ 
		background-size:cover !important; 
	}
	.wrapsection {
		padding:0px 0;
		position:relative;
		margin:0px 0;
	}
	.overlay {
		position:absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;
		opacity:0.0;
		z-index:2;
	}
	.parallax-content {
		position:relative;
		z-index:4;
		padding: 150px 0;
		/* min-height: 50vh; */
	}
	
	.pagetitle .parallax-content {
		margin-top: 50px;
	}


	/* ~~~~~~~~~~~~~~~~~~~~
	~~~~LARGE HEADER ~~~~
	~~~~~~~~~~~~~~~~~~~~~*/
	#menu-main-nav {	padding: 20px 0 10px; }
	
	#mobile-menu-wrap .navbar-nav { margin: 109px auto 0; }
	
	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		This is code that came from the theme that I pulled the header from 
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	
	.navbar-brand{padding-top:0;padding-bottom:0}
	.navbar-toggle{margin-top:15px}
	.navbar-collapse{max-height:100%;height:100%}
	.header{/*position:fixed;top:0;left:0;*/width:100%;z-index:1000;-webkit-transition:height .3s;-moz-transition:height .3s;transition:height .3s}
	.redq .dropdown.redq-halfwidth,ul.nav .dropdown{position:relative}
	.header.shrink{height:75px;line-height:50px}
	.header.shrink .navbar{transition:height .3s;height:70px}
	.header .navbar,.header.shrink .navbar{margin-bottom:0;-webkit-transition:height .3s;-moz-transition:height .3s}
	.header .navbar{transition:height .3s;height:106px}
	.header.icons-top .nav>li>a{text-align:center}
	.header.icons-top .nav>li>a>i{display:block}
	
	.header.icons-right .nav>li>a>i{display:block;float:right;margin-left:5px}
	.navbar-nav .open>.sub-menu{display:block}
	.navbar-default{background-color:transparent!important;border:none!important}
	.navbar-default .navbar-toggle{border-color:#eaeaea}
	.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{background:#f7f7f7}
	.navbar-default .navbar-toggle .icon-bar{background:#212121}
	.navbar-default .redq-menu-title{display:block;line-height:1.4em;color:inherit;font-weight:700;font-size:14px;padding-left:15px}
	.navbar-default .redq-link-title{display:block;line-height:1.4em;color:inherit;font-weight:700}
	.navbar-default span.redq-item-description{font-size:9px;color:#BBB;text-transform:uppercase}
	.navbar-default .navbar-nav>li{/* padding:0 15px */}
	.navbar-default .navbar-nav>li>a{font-size:16px;padding:0 0 10px;}
	.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{/* color:#ba030e */}
	.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{color:#575757;background-color:#e7e7e7}
	.navbar-default .navbar-nav>.active a,.navbar-default .navbar-nav>.active a:focus,.navbar-default .navbar-nav>.active a:hover{background:0 0}
	.dropdown-submenu a:hover,.redq .columns ul a:hover{background:#f7f7f7}
	.link-item{font-size:14px;line-height:1}
	/* .redq a{color:white} */
	.navbar-default .navbar-brand,.redq a:hover{/* color:#72060d */}
	.navbar-brand{font-weight:300;font-size:30px;line-height:60px}
	.logo-style{font-weight:400}	
	.bs-docs-header,.bs-docs-masthead{position:relative;padding:30px 15px;color:#212121;text-align:center;text-shadow:0 1px 0 rgba(0,0,0,.1);background:#F8F8F8}
	.header .navbar .navbar-brand.mobile,a.mobile-menu-close{display:none}
	#mobile-menu-wrap .navbar-nav{/* margin:200px -15px */}
	#mobile-menu{max-height:100%;position:relative;overflow-y:scroll;-webkit-overflow-scrolling:touch;padding-bottom:60px}
	#mobile-menu-wrap{position:fixed;top:0;right:-320px;z-index:100;visibility:hidden;width:256px;height:100%;-webkit-transition:all .5s;transition:all .5s;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);/* border-left:1px solid #e4e4e4; */box-shadow:0 -2px 8px 1px rgba(0,0,0,.06)}
	.mobile-menu-open #mobile-menu-wrap{visibility:visible;-webkit-transition:-webkit-transform .5s;transition:transform .5s;-webkit-transform:translate3d(-320px,0,0);transform:translate3d(-320px,0,0);overflow-x:hidden}
	#container{position:relative;z-index:99;overflow:hidden;-webkit-transition:-webkit-transform .5s;transition:transform .5s;-webkit-transform-origin:50% 1%;transform-origin:50% 1%;-webkit-transform-style:preserve-3d;transform-style:preserve-3d}
	.mobile-menu-open #container{-webkit-transform:translate3d(-320px,0,0);transform:translate3d(-320px,0,0)}
	
	.page-wrapper,section{clear:both;float:none}
	.large-header{position:relative;width:100%;
		background-repeat: no-repeat !important;
		background-size: cover !important;
	overflow:hidden;background-size:cover;z-index:1;webkit-animation:10s ease-in;-moz-animation:10s ease-in;-o-animation:10s ease-in;animation:10s ease-in}
	/* added this for overlay 
	#large-header:before {
		background: rgba(84,84,84,0.6);
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	} */
	.overlay,.split .thetext{z-index:2}
	.main-title{font-weight:700;position:absolute;margin:0;padding:0;line-height:1;top:55%;left:50%;-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0);font-size:4.2em;letter-spacing:.1em}
	.main-title .thin,.smallh{font-weight:300}
	
	
	@media only screen and ( max-width: 768px ) {
		
		#logo { width: 100%; padding-right: 10px; }
		
		#menu-main-nav {  width: 100%; }
		
		
		.header .navbar { height: 53px !important; }
		
		#menu-main-nav { float: inherit !important; }

	}
	
	@media only screen and (max-width: 665px) {
		
	}
	
	
	@media only screen and (max-width: 479px) {
		
	}

	
	
	
	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		This is code that came from the theme that I pulled the header from 
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	@media (min-width:480px){
		.bs-docs-masthead .btn{width:auto}
	}
	@media (min-width:768px){
		.bs-docs-masthead .lead{font-size:24px}
		.bs-docs-masthead{padding-top:80px;padding-bottom:80px}
	}
	@media (min-width:992px){
		.bs-docs-masthead .lead{width:80%;font-size:30px}
	} 
	@media (min-width:768px){
		.navbar{line-height:1.6;font-size:12px}
		.navbar>.container .navbar-brand{display:block;margin-left:-15px;margin-top:18px}
		
		.header{height:111px}
		.header.shrink .navbar>.container .navbar-brand{margin-top:5px}
		.header.icons-no .nav>li>a .link-item{float:left}
		.header.icons-left .nav>li>a>i{display:block;float:left}
		.header.icons-left .nav>li>a .link-item{float:right}
		.header.icons-right .nav>li>a .link-item{float:left}
		.navbar-nav{/* float:none; */}
		.align-left .navbar-nav,.navbar-nav>li{text-align:left}
		.navbar-nav>li{float:none;display:inline-block}
		.align-center .navbar-nav{text-align:center}
		.align-right .navbar-nav{text-align:left}
		.navbar-default .navbar-collapse{-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
		.navbar-default .navbar-nav>li{/* padding:45px 15px */}
		.icons-top .navbar-default .navbar-nav>li{padding:30px 15px}
		.icons-top.shrink .navbar-default .navbar-nav>li{padding:12px 15px}
		.navbar-default .navbar-nav>li>a{/* padding:0 */ padding: 10px 15px; }
		.icons-top .navbar-default .navbar-nav>li>a{padding:4px 0}
		.redq .dropdown.redq-halfwidth .dropdown-menu{width:585px}
		.shrink .navbar-default .navbar-nav>li{padding:28px 15px}
		.nav-caret{display:none}.sub-caret{position:absolute;top:39%;right:15px}
	}
	@media (max-width:767px){
		/* .nav .dropdown-menu,.nav .sub-menu{position:static;float:none;width:auto;margin-top:0;background-color:transparent;border:0;box-shadow:none} */
		.default-skin .nav .open>a,.default-skin .nav .open>a:focus,.default-skin .nav .open>a:hover{padding:10px}
		.navbar-nav .open .dropdown-menu{border-width:0 1px 1px;border-style:solid;border-color:#ebebeb}
		.nav-caret{display:block;position:absolute;top:-10px;right:15px;cursor:pointer}.sub-caret{display:none}
	}
	.small-wrapper ul{padding:0;list-style:none;margin-left:20px}
	.navbar-default .navbar-collapse,.navbar-default .navbar-form{border-color:transparent;box-shadow:none}
	ul#color-skins input[type=radio]{margin-top:8px}
	@media (max-width:767px){
		/* .default-skin .redq .columns ul li,.default-skin ul.sub-menu li{border-bottom:0;border-top:1px solid #ebebeb} */
		.navbar-default .navbar-nav>li>a{font-size:16px;padding:15px}
		.default-skin.header{/* background:#FFF;border-color:#fb4f14 transparent #ebebeb;  border: none !important; */ }
		.default-skin .navbar-default .navbar-toggle .icon-bar{/* background:#ba030e */}
		.default-skin .nav .open>a,.default-skin .nav .open>a:focus,.default-skin .nav .open>a:hover{/* border-color:#ba030e */}
		.default-skin .mobile-menu-open .navbar-default .navbar-nav>li>a{color:#575757}
	}
	@media (max-width:767px){
		.mobile-menu-open .navbar-collapse{padding:0}
		
		#mobile-menu-wrap .the-nav-cart li { display: block; text-align: left; width: 100%; }
		#mobile-menu-wrap .the-nav-cart li a { width: 100%; }
		#mobile-menu-wrap .the-nav-cart { margin: 0 !important; padding: 0; }
		
		/* .mobile-menu-open ul.sub-menu li a{padding-left:25px}
		.mobile-menu-open ul.sub-menu ul li a{padding-left:35px}
		.mobile-menu-open ul.sub-menu ul ul li a{padding-left:45px} */
		.header .navbar .navbar-brand.large{position:relative;z-index:99;-webkit-transition:-webkit-transform .5s;transition:transform .5s;-webkit-transform-origin:50% 1%;transform-origin:50% 1%;-webkit-transform-style:preserve-3d;transform-style:preserve-3d}
		.mobile-menu-open .header .navbar .navbar-brand.large{-webkit-transform:translate3d(-320px,0,0);transform:translate3d(-320px,0,0)}
		.mobile-menu-open .header .navbar .navbar-brand.mobile{display:block}
		a.mobile-menu-close{position:fixed;top:0;right:0;font-size:20px;display:block;z-index:9999;cursor:pointer;padding:13px;width:46px;text-align:center}
		/* .nav .dropdown-menu,.nav .sub-menu{position:static;float:none;display:block;width:auto;margin-top:0;background-color:transparent;border:0;box-shadow:none} */
	}
	@media (min-width:768px){
		/* .wow{visibility:visible!important;-webkit-animation:none!important;-moz-animation:none!important;-o-animation:none!important;-ms-animation:none!important;animation:none!important} */
		.default-skin.header{border-width:0}
		.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>li>a,.navbar-default .redq-menu-title{/* color:#fff; */}
		
		
		.default-skin.header,.default-skin.header.on,.navbar-default .navbar-nav>li,.navbar>.container .navbar-brand{transition:all .8s}
		.default-skin li.dropdown.open a span{color:#fff}
		.default-skin.header.on{/* background:#fff;border-bottom:1px solid #eee */}
		.default-skin.header.on .navbar-default .navbar-nav>.open>a,.default-skin.header.on .navbar-default .navbar-nav>.open>a:hover,.default-skin.header.on .navbar-default .navbar-nav>li>a,.default-skin.header.on li.dropdown.open a span,.navbar-default .navbar-nav>.open>a:focus{/* color:#444 */}
		.default-skin.header.on .navbar-default .navbar-nav>li{/* padding:25px 15px */}
		.default-skin.header.on .navbar>.container .navbar-brand{margin-top:0;transition:all .8s}
		.header,.header .navbar{height:auto}
		.navbar{line-height:0}
		.navbar-nav>li>.dropdown-menu{border-radius:0}
	}
	
	
	/* CODE FOR SPECIAL DROPDOWN MENU */
	.navbar-brand { position: relative; z-index: 2; }

	.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

	.navbar .navbar-collapse { position: relative;  }
	.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

	.navbar .nav-collapse { position: absolute; z-index: 999; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
	.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
	.navbar.navbar-inverse .nav-collapse { background-color: #222; }
	.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
	.nav-collapse>li { float: right; }

	.btn.btn-circle { border-radius: 50px; }
	.btn.btn-outline { background-color: transparent; }

	.navbar-nav.navbar-right .btn:not(.collapsed) {
		background-color: rgb(111, 84, 153);
		border-color: rgb(111, 84, 153);
		color: rgb(255, 255, 255);
	}

	.navbar.navbar-default .nav-collapse,
	.navbar.navbar-inverse .nav-collapse {
		height: auto !important;
		transition: transform 0.3s;
		transform: translate(0px,-50px);
	}
	.navbar.navbar-default .nav-collapse.in,
	.navbar.navbar-inverse .nav-collapse.in {
		transform: translate(0px,0px);
	}


	@media screen and (max-width: 767px) {
		.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
		
		.navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
		.navbar .nav-collapse .navbar-form { margin: 0; }
		.nav-collapse>li { float: none; }
		
		.navbar.navbar-default .nav-collapse,
		.navbar.navbar-inverse .nav-collapse {
			transform: translate(-100%,0px);
		}
		.navbar.navbar-default .nav-collapse.in,
		.navbar.navbar-inverse .nav-collapse.in {
			transform: translate(0px,0px);
		}
		
		.navbar.navbar-default .nav-collapse.slide-down,
		.navbar.navbar-inverse .nav-collapse.slide-down {
			transform: translate(0px,-100%);
		}
		.navbar.navbar-default .nav-collapse.in.slide-down,
		.navbar.navbar-inverse .nav-collapse.in.slide-down {
			transform: translate(0px,0px);
		}
		
		
		
	}
		
	
	
	
	/* MY CODE TO FIX IT FOR THE THEME */
	.the-more-link { border: 1px solid #dedede; z-index: 9999; }
	#nav-collapse1 { background-color: rgba(0,0,0,0.7);  padding: 16px 220px 10px 20px; }
	#nav-collapse1 li { float: left; }
	
		/*==================================================
	=            Bootstrap 3 Media Queries             =
	==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		.the-more-link { 
			position: absolute !important;
			right: 215px;
			top: 20px;
		}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
		#mobile-menu-wrap .the-nav-cart .sub-menu {
			left: 0;
			bottom: 0;
			z-index: 99999;
			
			min-width: auto !important;
		}
		
		#mobile-menu-wrap .the-nav-cart .header-cart-item .sub-menu {  min-width: 250px; }
		#mobile-menu-wrap .the-nav-cart li.header-cart-item a.remove {     max-width: 20px; }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }