

	.redq .the-nav-cart { padding: 20px 0 10px; }



	.main-nav-scrolled {
	  position: fixed;
	  width: 100%;
	  top: 0;
	}


	.the-default-fourth-nav #menu-main-nav li { padding: 0; }
	.the-default-fourth-nav #menu-main-nav li a { padding: 10px 20px; }

	#header { position: relative; }


	.the-fourth-nav #top-bar {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: auto;
		z-index: 99;
	}

  body.admin-bar #mega-menu.main-nav-scrolled {
    margin-top: var(--pegasus-admin-bar-height);
  }


	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		This is code that came from the theme that I pulled the header from
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	#menu-main-nav { float: none; padding-top: 20px;  }
	.navbar-brand{padding-top:0;padding-bottom:0}
	.navbar-toggler{margin-top:15px}
	.navbar-collapse{max-height:100%;height:100%}
	.header{
     width:100%;
     z-index:1000;
     transition:height .3s
    }
	.header.on {
		position: fixed;
		top: 0;
		left: 0;

	}

	.redq .dropdown.redq-halfwidth,ul.nav .dropdown{position:relative}
	.header.shrink{
    /* line-height:50px */
  }
	.header.shrink .navbar{
    transition:height .3s;
    /* height:70px; */
  }
	.header .navbar,.header.shrink .navbar{
    margin-bottom:0;-webkit-transition:height .3s;
    -moz-transition:height .3s}
	.header .navbar{transition:height .3s;}
	.header.icons-top .nav>li>a{text-align:center}
	.header.icons-top .nav>li>a>i{display:block}
	.header.icons-no .nav>li>a>i{/* display:none */}
	.header.icons-right .nav>li>a>i{display:block;float:right;margin-left:5px}
	.navbar-nav .open>.sub-menu{display:block}
	.navbar-default{
    background-color:transparent!important;
    border:none!important
  }

	.navbar-default .navbar-toggler:focus,.navbar-default .navbar-toggler:hover{/* background:#c47904 !important;  */}
	.navbar-default .navbar-toggler .icon-bar{background:#212121}
	.navbar-default .redq-menu-title{display:block;line-height:1.4em;color:inherit;font-weight:700;font-size:14px;padding-left:15px}
	.navbar-default .redq-link-title{display:block;line-height:1.4em;color:inherit;font-weight:700}
	.navbar-default span.redq-item-description{font-size:9px;color:#BBB;text-transform:uppercase}
	.navbar-default .navbar-nav>li{padding:0 10px; }
	.navbar-default .navbar-nav>li>a{font-size:16px;padding:10px 0 10px;border-bottom:0 solid transparent}
	.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{}
	.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{color:#575757;background-color:#e7e7e7}
	.navbar-default .navbar-nav>.active a,.navbar-default .navbar-nav>.active a:focus,.navbar-default .navbar-nav>.active a:hover{background:0 0}
	.dropdown-submenu a:hover,.redq .columns ul a:hover{background:#f7f7f7}
	.link-item{font-size:14px;line-height:1}
	.redq a{/* color:white; */}
	.navbar-default .navbar-brand,.redq a:hover{/* color:#c47904 */}
	.navbar-brand{font-weight:300;font-size:30px;line-height:60px}
	.logo-style{font-weight:400}
	.bs-docs-header,.bs-docs-masthead{position:relative;padding:30px 15px;color:#212121;text-align:center;text-shadow:0 1px 0 rgba(0,0,0,.1);background:#F8F8F8}
	
  .header .navbar .navbar-brand.mobile,
  a.mobile-menu-close{
    display:none
  }

  body.mobile-menu-open a.mobile-menu-close {
    display: block !important;
  }

  a.mobile-menu-close {
  position: absolute;
    top: 45px;
    right: 15px;
    font-size: 24px;
  }
  
	#mobile-menu-wrap .navbar-nav{margin:109px -15px}
	.navbar-default {
    max-height:100%;
    position:relative;
    /*overflow-y:scroll;*/
    -webkit-overflow-scrolling:touch;
    
  }
	#pegasus-header-four-nav{
    position:fixed;
    top:0;
    right:-320px;
    z-index:100;
    visibility:invisible;
    width:256px;
    height:100%;
    transition:all .5s;
    transform:translate3d(0,0,0);
    box-shadow:0 -2px 8px 1px rgba(0,0,0,.06);
    background: white;
  }
	.mobile-menu-open #pegasus-header-four-nav{
    visibility:visible;
    transition:transform .5s;
    transform:translate3d(-320px,0,0);
    overflow-x:hidden;
  }
	#container{
    position:relative;
    z-index:99;
    overflow:hidden;
    transition:transform .5s;
    transform-origin:50% 1%;
    transform-style:preserve-3d;
  }
	.mobile-menu-open #container{
    transform:translate3d(-320px,0,0);
  }


	@media only screen and ( max-width: 768px ) {



		#header { padding: 0 !important; }
	}

	@media only screen and (max-width: 665px) {

	}


	@media only screen and (max-width: 479px) {

	}




	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		This is code that came from the theme that I pulled the header from
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	@media (min-width:480px){
		.bs-docs-masthead .btn{width:auto}
	}
	@media (min-width:768px){
		.bs-docs-masthead .lead{font-size:24px}
		.bs-docs-masthead{padding-top:80px;padding-bottom:80px}
	}
	@media (min-width:992px){
		.bs-docs-masthead .lead{width:80%;font-size:30px}
	}
	@media (min-width:768px){
		.navbar{line-height:1.6;font-size:12px}
		.navbar>.container .navbar-brand{display:block;margin-left:-15px;margin-top:18px}

		/* .header{height:111px} */
		.header.shrink .navbar>.container .navbar-brand{margin-top:5px}
		.header.icons-no .nav>li>a .link-item{float:left}
		.header.icons-left .nav>li>a>i{display:block;float:left}
		.header.icons-left .nav>li>a .link-item{float:right}
		.header.icons-right .nav>li>a .link-item{float:left}
		.navbar-nav{/* float:none; */}
		.align-left .navbar-nav,.navbar-nav>li{text-align:left}
		.navbar-nav>li{float:none;display:inline-block}
		.align-center .navbar-nav{text-align:center}
		.align-right .navbar-nav{text-align:left}
		.navbar-default .navbar-collapse{transition:all .3s}
		.navbar-default .navbar-nav>li{/* padding:45px 15px */}
		.icons-top .navbar-default .navbar-nav>li{padding:30px 15px}
		.icons-top.shrink .navbar-default .navbar-nav>li{padding:12px 15px}
		.navbar-default .navbar-nav>li>a{/* padding:0 */ padding: 10px 20px; }
		.icons-top .navbar-default .navbar-nav>li>a{padding:4px 0}
		.redq .dropdown.redq-halfwidth .dropdown-menu{width:585px}
		.shrink .navbar-default .navbar-nav>li{padding:28px 15px}
		.nav-caret{display:none}.sub-caret{position:absolute;top:39%;right:15px}
	}
	@media (max-width:767px){
		/* .nav .dropdown-menu,.nav .sub-menu{position:static;float:none;width:auto;margin-top:0;background-color:transparent;border:0;box-shadow:none} */
		.default-skin .nav .open>a,.default-skin .nav .open>a:focus,.default-skin .nav .open>a:hover{padding:10px}
		.navbar-nav .open .dropdown-menu{border-width:0 1px 1px;border-style:solid;border-color:#ebebeb}
		.nav-caret{display:block;position:absolute;top:-10px;right:15px;cursor:pointer}.sub-caret{display:none}
	}
	.small-wrapper ul{padding:0;list-style:none;margin-left:20px}
	.navbar-default .navbar-collapse,.navbar-default .navbar-form{border-color:transparent;box-shadow:none}
	ul#color-skins input[type=radio]{margin-top:8px}
	ul#color-skins input[type=radio]{margin-top:8px}
	@media (max-width:767px){
		/* .default-skin .redq .columns ul li,.default-skin ul.sub-menu li{border-bottom:0;border-top:1px solid #ebebeb} */
		.navbar-default .navbar-nav>li>a{font-size:16px;padding:15px}
		.default-skin.header{/* background:#FFF;border-color:#fb4f14 transparent #ebebeb;  border: none !important; */ }
		.default-skin .navbar-default .navbar-toggler .icon-bar{/* background:#ba030e */}
		.default-skin .nav .open>a,.default-skin .nav .open>a:focus,.default-skin .nav .open>a:hover{/* border-color:#ba030e */}
		.default-skin .mobile-menu-open .navbar-default .navbar-nav>li>a{color:#575757}
	}
	@media (max-width:767px){
		.mobile-menu-open .navbar-collapse{padding:0}

		#mobile-menu-wrap .the-nav-cart li { display: block; text-align: left; width: 100%; }
		#mobile-menu-wrap .the-nav-cart li a { width: 100%; }
		#mobile-menu-wrap .the-nav-cart { margin: 0 !important; padding: 0; }

		/* .mobile-menu-open ul.sub-menu li a{padding-left:25px}
		.mobile-menu-open ul.sub-menu ul li a{padding-left:35px}
		.mobile-menu-open ul.sub-menu ul ul li a{padding-left:45px} */
		.header .navbar .navbar-brand.large{position:relative;z-index:99;transition:transform .5s;transform-origin:50% 1%;transform-style:preserve-3d}
		.mobile-menu-open .header .navbar .navbar-brand.large{transform:translate3d(-320px,0,0)}
		.mobile-menu-open .header .navbar .navbar-brand.mobile{display:block}
		a.mobile-menu-close{position:fixed;top:0;right:0;font-size:20px;display:block;z-index:9999;cursor:pointer;padding:13px;width:46px;text-align:center}
		/* .nav .dropdown-menu,.nav .sub-menu{position:static;float:none;display:block;width:auto;margin-top:0;background-color:transparent;border:0;box-shadow:none} */
	}
	@media (min-width:768px){
		/* .wow{visibility:visible!important;-webkit-animation:none!important;-moz-animation:none!important;-o-animation:none!important;-ms-animation:none!important;animation:none!important} */

		.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>li>a,.navbar-default .redq-menu-title{/* color:#fff; */}


		.default-skin.header,.default-skin.header.on,.navbar-default .navbar-nav>li,.navbar>.container .navbar-brand{transition:all .8s}
		.default-skin li.dropdown.open a span{color:#fff}
		.default-skin.header.on{/* background:#fff;border-bottom:1px solid #eee */}
		.default-skin.header.on .navbar-default .navbar-nav>.open>a,.default-skin.header.on .navbar-default .navbar-nav>.open>a:hover,.default-skin.header.on .navbar-default .navbar-nav>li>a,.default-skin.header.on li.dropdown.open a span,.navbar-default .navbar-nav>.open>a:focus{/* color:#444 */}
		.default-skin.header.on .navbar-default .navbar-nav>li{/* padding:25px 15px */}
		.default-skin.header.on .navbar>.container .navbar-brand{margin-top:0;transition:all .8s}
		.header,.header .navbar{height:auto}
		.navbar{line-height:0}
		.navbar-nav>li>.dropdown-menu{border-radius:0}
	}

