#page-wrap { padding-top: 0 !important; }

	.page-header-spacer { padding: 0 !important; }

	body.admin-bar #header .navi-btn a i { top: 32px; }

	@media screen and ( max-width: 782px ) {
		body.admin-bar #header .navi-btn a i { top: 46px; }
	}


  .nav-item {
    flex: 0 0 100%;
  }

	/* main body content css */

	.mainbar {
		margin: 0;
		padding: 0;
		margin-left: 280px;
		background: #fff;
	}
	.mainbar .container {
		width: 97%;
		max-width: 1080px;
	}

	.main-content {
		padding-top: 20px;
	}

	#page-wrap { padding: 20px 0; }

	.sub-menu { background: inherit; list-style-type: none; }


	.sidebar-nav .the-nav-cart { float: none; }
	.sidebar-nav .the-nav-cart li { float: none; }

	.sidebar-nav .the-nav-cart .sub-menu {
		left: 0;
	}

	/*~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~~ HEADER ~~~~~~
	~~~~~~~~~~~~~~~~~~~~~*/
	.keegans-nav {
    display: none;
    border-color: #9a1f27;
    background: #9a1f27;
  }


  .keegans-header-menu li .nav-link.active{
    font-weight: bold;
    font-size: 20px;
  }


	/*~~~~~~~~~~~~~~~~~~~~~
	~~~~~~ NAVIGATION ~~~~~
	~~~~~~~~~~~~~~~~~~~~~*/



	.navbar-brand>img { height: 32px; }


	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MY CSS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	.sidebar-nav .navi-btn a i {
	  /* background: #f0cb38; */
	}

	.fa-bars:before { color: black;  }

	.keegans-header-menu { list-style-type: none; }

	/*~~~~~~~~~~~~~~~~~~~~~~
	~~~~~~~SIDEBAR NAV~~~~~~~
	~~~~~~~~~~~~~~~~~~~~~~*/

	.keegans-logo {
		/* margin-top: 30px;
		padding-bottom: 15px; */

		text-align: center;
	}

  body.admin-bar .keegans-logo {
    margin-top: var(--pegasus-admin-bar-height);
  }


	.keegans-logo h1 {
    margin: 0 0 0 auto;
    font-size: 1.8rem;
    font-weight: 700;
    width: 85%;
    padding: 5px;
	}

	.keegans-logo hr {
		max-width: 180px;
		margin: 5px auto;
		border-top: 4px double #fff;
	}

	.keegans-logo span {
		display: block;
		margin-top: 5px;
	}

	#header {
		position: fixed;
		z-index: 1024;
		background: #9A1F27;
		width: 280px;
		height: 100%;

		min-height: 1000px;
		left: 0;
		top:0;
	}

	#header .slimScrollBar {
		border-radius: 0 !important;
		opacity: 0.4 !important;
	}

	#header .navi-btn a i {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999999;
		display: block;
		margin: 0;
		padding: 0;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 24px;
		color: #fff;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
	}

	#header .sidebar-inner {
		padding-bottom: 30px;
		overflow: hidden;
	}

	.nav-sidebar-widget {
		/* padding: 0 22px; */
		margin-top: 0;
	}


	.nav-sidebar-widget ul li a {
		display: block;
		
		font-size: 15px;
		line-height: 18px;
		color: #fff;
		text-align: right;
			transition: all 0.5s ease;
	}



	.nav-sidebar-widget ul li a:hover {
		padding-right: 15px;
	}



	@media only screen and ( max-width: 1155px ) {
		#top-bar { padding-left: 40px; }
	}
