body {
	min-height: 75rem;
	/*padding-top: 4.5rem;*/
}
.redq .navbar-toggler {
	width: 60px;

}

.redq .navbar-header {
    display: flex;

    justify-content: space-between; /* Optional: space out brand and nav items */
    width: 100%;
}
.redq #menu-main-menu-2 {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.redq #menu-main-menu-4 {
	list-style: none;

    margin: 0;
    padding: 0;
}

/* Style the individual list items */
.redq #menu-main-menu-2 .nav-item {
    margin-left: 20px; /* Spacing between menu items */
}

/* Style the links within the nav items */
.redq #menu-main-menu-2 .nav-link {
    text-decoration: none;
    color: #000; /* Customize color as needed */
    padding: 8px 12px;
    transition: color 0.3s;
}

.redq #menu-main-menu-2 .nav-link:hover {
    color: rgba(0,0,0,0.8); /* Optional hover color */
}


#mobile-menu-wrap {
    position: fixed;
    top: 0;
    right: -320px;
    z-index: 100;
    visibility: hidden;
    width: 256px;
    height: 100%;
    background: #fff;
    transition: all .5s;
    transform: translate3d(0, 0, 0);
    border-left: 1px solid #e4e4e4;
    box-shadow: 0 -2px 8px 1px rgba(0, 0, 0, .06);
}


.mobile-menu-open #mobile-menu-wrap {
    visibility: visible;
    transition: transform .5s;
    transform: translate3d(-320px, 0, 0);
    overflow-x: hidden;
}


@media only screen and ( max-width: 768px ) {
	.redq.navbar {
		display: block !important;
	}

	#mega-menu .row {
		display: block !important;
	}

	.redq #menu-main-menu-2 {
		display: none;
	}

	.redq #menu-main-menu-2.pegasus-mobile-menu {
		display: block;
	}

}

/* Mobile Responsive Adjustments */
@media (max-width: 768px) {
    .redq .navbar-header {
        /*flex-direction: column;*/
    }

    .redq #menu-main-menu-2 {
        flex-direction: column;
        align-items: center;
    }

    .redq #menu-main-menu-2 .nav-item {
        margin: 10px 0;
    }

	.mobile-menu-close{position:fixed;top:0;right:0;font-size:20px;display:block;z-index:9999;cursor:pointer;padding:13px;width:46px;text-align:center}
}

@media (min-width: 768px) {
    .redq .navbar-toggler {
        display: none;
    }

	.redq .navbar-header {
		align-items: center; /* Vertically center items within the navbar */
	}
}

#page-wrap {
  margin-top: var(--pegasus-header-three-fixed-menu-height) !important;
}





@media (max-width: 991.98px) {
  .pegasus-mobile-nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .offcanvas-collapse .dropdown-menu {
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 15px;
    border: none;
    background: transparent;
  }

  .pegasus-mobile-nav .dropdown-menu .dropdown-item {
    background-color: transparent !important;
  }

  .admin-bar .offcanvas-collapse {
    top: calc( var(--pegasus-admin-bar-height) + var(--pegasus-header-three-fixed-menu-height) );
  }
  .offcanvas-collapse {
    position: fixed;
    /* top: 56px; *//* Height of navbar */
    top: calc( var(--pegasus-header-three-fixed-menu-height) );
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.bg-purple { background-color: #6f42c1; }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

