/*** ESSENTIAL STYLES ***/
.sf-menu {
  /* position: relative; */
  margin: 0;
  padding: 0;
  list-style: none;
}
.sf-menu .sf-mega {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 99;
}
.sf-menu > li {
  float: left;
}
.sf-menu li:hover > .sf-mega,
.sf-menu li.sfHover > .sf-mega {
  display: block;
}

.sf-menu > li > a {
  display: block;
  position: relative;
}

.the-more-link { position: initial !important; }



.sf-menu .sf-mega {
  box-shadow: 2px 3px 6px rgba(0,0,0,.2);
  width: 100%; /* allow long menu items to determine submenu width */
  margin-top: 50px;
}

.navbar-inverse .sf-mega { background-color: #222; border-top: 1px solid black;}

/*** mega menu dropdown ***/
.sf-mega {
  padding: 1em;
  
  box-sizing: border-box;
  width: 100%;
  border-radius: 7px; 
}
.sf-mega-section {
  float: left;
}


#menu-main-nav .sub-menu .sub-menu {
/* 	display: none;  */
}




	.the-default-nav { position: relative; }

	#pegasus-mega-menu .sf-mega-section {
		width: 25%;
		border-right: none !important; 
	}
	
	#pegasus-mega-menu .sf-mega-section ul li {
		padding: 0 !important; 
		display: block !important;
		float: none !important;
	}
	
	
	#pegasus-mega-menu .sub-menu { 
		display: block !important; 
		position: inherit !important;
		background: transparent;
		padding: 0 15px 0 20px !important;
		margin: 0px 0px 0px 7px;
		top: 0; 
		border: none !important;
		box-shadow: none !important; 
	}
	
	#pegasus-mega-menu .sub-menu li { 
		display: block !important; 
		float: none !important;
		margin: 0 !important;
		padding: 0 !important; 
	}
	
	#pegasus-mega-menu .sub-menu li a { 
		display: block !important; 
		float: none !important;
		margin: 0 !important;
		padding: 7px 15px !important; 
		/* font-size: 12px !important; */
		text-decoration: none !important;
	}
	
	#pegasus-mega-menu .nav>li>a { /* color: #9d9d9d; */ }
	
	#pegasus-mega-menu .nav>li>a:hover { /* color: #fff; */ }
	
	#pegasus-mega-menu .nav>li>a:focus, #pegasus-mega-menu .nav>li>a:hover { /* background-color: transparent !important; */ }	
	
	@media only screen and ( max-width: 768px ) {
	
		
		.sf-mega { 
			display: block !important; 
			position: relative !important;
			top: 0; 
			bottom: 0;
			left: 0; 
			right: 0; 
			background: transparent !important; 
			padding: 0 !important; 
			margin: 0 !important; 
			box-shadow: none !important;
			border: none !important;
		}
	
		#pegasus-mega-menu .sf-mega-section { width: 100%; }
		
		#pegasus-mega-menu .nav>li>a { /* padding: 10px 0; */ }
		
		
	
		#pegasus-mega-menu .trigger { display: none !important; }
	
	}
	
	
