
    .cmb2-id-logo .cmb-file-field-image {
        width: 50%;
        height: auto !important;
        max-width: 960px;
        max-height: 550px;
    }

    .cmb2-id-favicon .cmb-file-field-image { width: 25px !important; height: 25px !important; }
	
	.cmb-type-title { 
		background-color: #777 !important;
		padding: 5px 10px 10px 10px;
    	
    	/* border-top-right-radius: 10px; */
	    /* border-top-left-radius: 10px; */
	    border: 1px solid #777;
	    border-radius: 7px;
    }

	.cmb-type-title h3 {color: white !important; margin: 0 !important; padding: 0 !important; }
	
	.cmb2-id-header-one-title, 
	.cmb2-id-header-two-title, 
	.cmb2-id-header-three-title, 
	.cmb2-id-header-four-title, 
	.cmb2-id-header-five-title { background: #ccc !important; } 

	.pegasus-toggle.active {
		border-bottom-right-radius: 0px; 
	    border-bottom-left-radius: 0px; 
	}

	div[class*="pegasus-parent-"] { margin-bottom: 10px; }

	div[class*="pegasus-options-toggle-content-"] { display: none; }
	
	div[class*="pegasus-options-toggle-content-"] {
		margin-bottom: 10px;
    	padding: 10px;
    	border-left: 1px solid #777;
	    border-right: 1px solid #777;
	    border-bottom: 1px solid #777;
	    border-bottom-left-radius: 7px;
	    border-bottom-right-radius: 7px;
	}


	#header_type { width: 110px; }

    .wp-picker-container .wp-color-result { position: relative !important; }

    #pegasus_option_metabox .pegasus-save-btn-container {
        padding: 20px;
        background: #777;
        border: 1px solid black;
        position: fixed;
        right: 0;
        top: 50%;
        margin-right: 10px;
    }

